body{
    background: #9182b2;
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.titulo{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    width: 380px;
    height: 80px;
}
h1{
    text-align: center;
    font-size: 42px;
    padding: 5px;
}
h2{
    font-weight: bold;
    color: black;
}
#logo{
    width: 450px;
}
#startbtn{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: yellow;
    cursor: pointer;
    transition: 1s;
}
#startbtn:hover{
    transform: scale(1.3);
    transition: 1s;
}
#divbtn{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
footer{
    text-align: center;
    margin-top: 100px;
}
.imagemfooter{
    padding: 0 5px 0 5px;
}



